[Unit]
Description=Google Drive mount (rclone)
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=5min
StartLimitBurst=5

[Service]
Type=simple
ExecStart=%h/.local/bin/rclone-gdrive-mount
SuccessExitStatus=143
Restart=on-failure
RestartPreventExitStatus=78
RestartSec=30s
TimeoutStopSec=30s

[Install]
WantedBy=default.target
