.theme-dark {
  --color-base-00: #111c18;
  --color-base-05: #0c1512;
  --color-base-10: #090f0d;
  --color-base-20: #23372b;
  --color-base-25: #32473b;
  --color-base-30: #32473b;
  --color-base-35: #53685b;
  --color-base-40: #81b8a8;
  --color-base-50: #81b8a8;
  --color-base-60: #d6d5bc;
  --color-base-70: #c1c497;
  --color-base-100: #f7e8b2;
  --color-accent: #509475;
  --color-accent-1: #2dd5b7;
  --color-accent-2: #d2689c;
  --color-red: #ff5345;
  --color-red-rgb: 255, 83, 69;
  --color-orange: #a2734b;
  --color-yellow: #459451;
  --color-green: #549e6a;
  --color-cyan: #2dd5b7;
  --color-blue: #509475;
  --color-purple: #d2689c;
  --color-pink: #75bbb3;
  --background-primary: #111c18;
  --background-primary-alt: #0c1512;
  --background-secondary: #0c1512;
  --background-secondary-alt: #23372b;
  --background-modifier-border: #53685b;
  --background-modifier-hover: rgba(80, 148, 117, 0.08);
  --background-modifier-box-shadow: rgba(9, 15, 13, 0.25);
  --background-modifier-form-field: #0c1512;
  --background-modifier-error: #ff5345;
  --background-modifier-success: #549e6a;
  --text-normal: #c1c497;
  --text-muted: #d6d5bc;
  --text-faint: #81b8a8;
  --text-accent: #509475;
  --text-accent-hover: #71cead;
  --text-selection: rgba(50, 71, 59, 0.8);
  --text-highlight-bg: rgba(69, 148, 81, 0.22);
  --text-on-accent: #111c18;
  --interactive-normal: #0c1512;
  --interactive-hover: #23372b;
  --interactive-accent: #509475;
  --interactive-accent-hover: #71cead;
  --h1-color: #509475;
  --h2-color: #2dd5b7;
  --h3-color: #549e6a;
  --h4-color: #a2734b;
  --h5-color: #459451;
  --h6-color: #d2689c;
  --code-background: #0c1512;
  --code-normal: #c1c497;
  --tag-background: rgba(80, 148, 117, 0.12);
  --tag-color: #509475;
  --link-color: #71cead;
  --link-color-hover: #509475;
  --link-external-color: #2dd5b7;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(83, 104, 91, 0.5);
  --scrollbar-active-thumb-bg: rgba(83, 104, 91, 0.75);
  --icon-color: #d6d5bc;
  --icon-color-hover: #c1c497;
  --icon-color-active: #509475;
  --checkbox-color: #509475;
  --bold-color: #459451;
  --italic-color: #81b8a8;
}
