.theme-light {
  --color-base-00: #fdf6e3;
  --color-base-05: #f4f0d9;
  --color-base-10: #efebd4;
  --color-base-20: #e6e2cc;
  --color-base-25: #e0dcc7;
  --color-base-30: #bdc3af;
  --color-base-35: #a6b0a0;
  --color-base-40: #939f91;
  --color-base-50: #829181;
  --color-base-60: #708089;
  --color-base-70: #66747b;
  --color-base-100: #5c6a72;
  --color-accent: #8da101;
  --color-accent-1: #35a77c;
  --color-accent-2: #df69ba;
  --color-red: #f85552;
  --color-red-rgb: 248, 85, 82;
  --color-orange: #f57d26;
  --color-yellow: #dfa000;
  --color-green: #8da101;
  --color-cyan: #35a77c;
  --color-blue: #3a94c5;
  --color-purple: #df69ba;
  --color-pink: #df69ba;
  --background-primary: #fdf6e3;
  --background-primary-alt: #f4f0d9;
  --background-secondary: #f4f0d9;
  --background-secondary-alt: #efebd4;
  --background-modifier-border: #e0dcc7;
  --background-modifier-hover: rgba(141, 161, 1, 0.07);
  --background-modifier-box-shadow: rgba(92, 106, 114, 0.15);
  --background-modifier-form-field: #fdf6e3;
  --background-modifier-error: #f85552;
  --background-modifier-success: #8da101;
  --text-normal: #5c6a72;
  --text-muted: #829181;
  --text-faint: #939f91;
  --text-accent: #8da101;
  --text-accent-hover: #93b259;
  --text-selection: #eaedc8;
  --text-highlight-bg: rgba(223, 160, 0, 0.2);
  --text-on-accent: #fdf6e3;
  --interactive-normal: #f4f0d9;
  --interactive-hover: #efebd4;
  --interactive-accent: #8da101;
  --interactive-accent-hover: #93b259;
  --h1-color: #f85552;
  --h2-color: #f57d26;
  --h3-color: #dfa000;
  --h4-color: #8da101;
  --h5-color: #3a94c5;
  --h6-color: #df69ba;
  --code-background: #f4f0d9;
  --code-normal: #5c6a72;
  --tag-background: rgba(141, 161, 1, 0.1);
  --tag-color: #8da101;
  --link-color: #3a94c5;
  --link-color-hover: #35a77c;
  --link-external-color: #35a77c;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(189, 195, 175, 0.65);
  --scrollbar-active-thumb-bg: rgba(130, 145, 129, 0.75);
  --icon-color: #829181;
  --icon-color-hover: #5c6a72;
  --icon-color-active: #8da101;
  --checkbox-color: #8da101;
  --bold-color: #f57d26;
  --italic-color: #829181;
}
