.theme-light {
  --color-base-00: #f8f9fa;
  --color-base-05: #eef0f2;
  --color-base-10: #dde1e5;
  --color-base-20: #c4d7f2;
  --color-base-25: #b3b8be;
  --color-base-30: #aeb4ba;
  --color-base-35: #6f767e;
  --color-base-40: #737980;
  --color-base-50: #565656;
  --color-base-60: #474c52;
  --color-base-70: #3f4449;
  --color-base-100: #000000;
  --color-accent: #1b82cc;
  --color-accent-1: #2a9c78;
  --color-accent-2: #8759b8;
  --color-red: #d9504f;
  --color-red-rgb: 234, 108, 109;
  --color-orange: #e25a5a;
  --color-yellow: #cf8a16;
  --color-green: #4f9f2a;
  --color-cyan: #2a9c78;
  --color-blue: #1b82cc;
  --color-purple: #8759b8;
  --color-pink: #8e62bd;
  --background-primary: #f8f9fa;
  --background-primary-alt: #eef0f2;
  --background-secondary: #eef0f2;
  --background-secondary-alt: #dde1e5;
  --background-modifier-border: #b3b8be;
  --background-modifier-hover: rgba(27, 130, 204, 0.08);
  --background-modifier-box-shadow: rgba(71, 76, 82, 0.15);
  --background-modifier-form-field: #f8f9fa;
  --background-modifier-error: #d9504f;
  --background-modifier-success: #4f9f2a;
  --text-normal: #474c52;
  --text-muted: #565656;
  --text-faint: #6f767e;
  --text-accent: #247fbd;
  --text-accent-hover: #17699f;
  --text-selection: rgba(196, 215, 242, 0.9);
  --text-highlight-bg: rgba(207, 138, 22, 0.25);
  --text-on-accent: #000000;
  --interactive-normal: #eef0f2;
  --interactive-hover: #dde1e5;
  --interactive-accent: #1b82cc;
  --interactive-accent-hover: #2389d4;
  --h1-color: #247fbd;
  --h2-color: #268b6d;
  --h3-color: #568f31;
  --h4-color: #c84f50;
  --h5-color: #b97817;
  --h6-color: #815aad;
  --code-background: #eef0f2;
  --code-normal: #474c52;
  --tag-background: rgba(27, 130, 204, 0.1);
  --tag-color: #247fbd;
  --link-color: #247fbd;
  --link-color-hover: #17699f;
  --link-external-color: #268b6d;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(179, 184, 190, 0.7);
  --scrollbar-active-thumb-bg: rgba(111, 118, 126, 0.8);
  --icon-color: #565656;
  --icon-color-hover: #474c52;
  --icon-color-active: #1b82cc;
  --checkbox-color: #1b82cc;
  --bold-color: #b97817;
  --italic-color: #565656;
}
