.theme-light {
  --color-base-00: #fffcf0;
  --color-base-05: #f2efe4;
  --color-base-10: #e6e4d9;
  --color-base-20: #cecdc3;
  --color-base-25: #b7b5ac;
  --color-base-30: #9f9d96;
  --color-base-35: #878580;
  --color-base-40: #6f6e69;
  --color-base-50: #575653;
  --color-base-60: #403e3c;
  --color-base-70: #282726;
  --color-base-100: #100f0f;
  --color-accent: #205ea6;
  --color-accent-1: #3aa99f;
  --color-accent-2: #ce5d97;
  --color-red: #d14d41;
  --color-red-rgb: 209, 77, 65;
  --color-orange: #d0772b;
  --color-yellow: #d0a215;
  --color-green: #879a39;
  --color-cyan: #3aa99f;
  --color-blue: #205ea6;
  --color-purple: #ce5d97;
  --color-pink: #ce5d97;
  --background-primary: #fffcf0;
  --background-primary-alt: #f2efe4;
  --background-secondary: #f2efe4;
  --background-secondary-alt: #e6e4d9;
  --background-modifier-border: #b7b5ac;
  --background-modifier-hover: rgba(32, 94, 166, 0.07);
  --background-modifier-box-shadow: rgba(16, 15, 15, 0.15);
  --background-modifier-form-field: #fffcf0;
  --background-modifier-error: #d14d41;
  --background-modifier-success: #879a39;
  --text-normal: #100f0f;
  --text-muted: #403e3c;
  --text-faint: #878580;
  --text-accent: #205ea6;
  --text-accent-hover: #4385be;
  --text-selection: rgba(206, 205, 195, 0.8);
  --text-highlight-bg: rgba(208, 162, 21, 0.2);
  --text-on-accent: #fffcf0;
  --interactive-normal: #f2efe4;
  --interactive-hover: #e6e4d9;
  --interactive-accent: #205ea6;
  --interactive-accent-hover: #4385be;
  --h1-color: #205ea6;
  --h2-color: #3aa99f;
  --h3-color: #879a39;
  --h4-color: #d14d41;
  --h5-color: #d0772b;
  --h6-color: #ce5d97;
  --code-background: #f2efe4;
  --code-normal: #100f0f;
  --tag-background: rgba(32, 94, 166, 0.1);
  --tag-color: #205ea6;
  --link-color: #205ea6;
  --link-color-hover: #4385be;
  --link-external-color: #3aa99f;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(183, 181, 172, 0.65);
  --scrollbar-active-thumb-bg: rgba(135, 133, 128, 0.75);
  --icon-color: #403e3c;
  --icon-color-hover: #100f0f;
  --icon-color-active: #205ea6;
  --checkbox-color: #205ea6;
  --bold-color: #d0772b;
  --italic-color: #878580;
}
