.theme-light {
  --color-base-00: #f0f9fd;
  --color-base-05: #e0f1f8;
  --color-base-10: #d4eaf4;
  --color-base-20: #bfddeb;
  --color-base-25: #b1cfdf;
  --color-base-30: #91b7ca;
  --color-base-35: #526f80;
  --color-base-40: #526f80;
  --color-base-50: #526f80;
  --color-base-60: #526f80;
  --color-base-70: #344f61;
  --color-base-100: #223d50;
  --color-accent: #14758f;
  --color-accent-1: #14758f;
  --color-accent-2: #af3e79;
  --color-red: #b45343;
  --color-red-rgb: 180, 83, 67;
  --color-orange: #8b691e;
  --color-yellow: #84651d;
  --color-green: #187c70;
  --color-cyan: #14758f;
  --color-blue: #3768ac;
  --color-purple: #af3e79;
  --color-pink: #af3e79;
  --background-primary: #f0f9fd;
  --background-primary-alt: #e0f1f8;
  --background-secondary: #e0f1f8;
  --background-secondary-alt: #d4eaf4;
  --background-modifier-border: #b1cfdf;
  --background-modifier-hover: rgba(20, 117, 143, 0.07);
  --background-modifier-box-shadow: rgba(34, 61, 80, 0.15);
  --background-modifier-form-field: #f0f9fd;
  --background-modifier-error: #b45343;
  --background-modifier-success: #187c70;
  --text-normal: #223d50;
  --text-muted: #526f80;
  --text-faint: #526f80;
  --text-accent: #14758f;
  --text-accent-hover: #126a83;
  --text-selection: rgba(191, 221, 235, 0.8);
  --text-highlight-bg: rgba(139, 105, 30, 0.2);
  --text-on-accent: #f0f9fd;
  --interactive-normal: #e0f1f8;
  --interactive-hover: #d4eaf4;
  --interactive-accent: #14758f;
  --interactive-accent-hover: #126a83;
  --h1-color: #14758f;
  --h2-color: #14758f;
  --h3-color: #187c70;
  --h4-color: #b45343;
  --h5-color: #8b691e;
  --h6-color: #af3e79;
  --code-background: #e0f1f8;
  --code-normal: #223d50;
  --tag-background: rgba(20, 117, 143, 0.1);
  --tag-color: #14758f;
  --link-color: #14758f;
  --link-color-hover: #126a83;
  --link-external-color: #14758f;
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(177, 207, 223, 0.65);
  --scrollbar-active-thumb-bg: rgba(82, 111, 128, 0.75);
  --icon-color: #526f80;
  --icon-color-hover: #223d50;
  --icon-color-active: #14758f;
  --checkbox-color: #14758f;
  --bold-color: #8b691e;
  --italic-color: #526f80;
}
